<html>

<head>

    <title> Anurag Tekam's Blog </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" type="text/css">

</head>
<body>

    <div class="homeLayout">

        <center class="headerOfHomeWelcome">

            <p class="headerOfHomeWelcomeText">
                Welcome to Anurag Tekam's Blog
            </p>

            <p class="headerOfHomeWelcomeSubText">
                Under Development
            </p>
            
        </center>

    </div>
</body>

</html>
